body{
	border: none;
	margin: none;
	padding: none;
}

.nav{
	display: flex;
}

.nav a{
	justify-content: space-around;
	flex-grow: 1;
	text-align: center;
	height: 20px;
	border-bottom: 1px solid black;
}

.footer{
	text-align: center;
	border-top: 1px solid black;
	padding-top: 10px; 
}

.main{
	text-align: center;
}